    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div  class="col-lg-12">
                    <div style="padding-top: 90px; margin-top: -90px;" id="page-top" class="intro-text">
                       <span style="font-size: 3em;" class="name">o projeto</span>
                        <hr class="star-light">
                        <span class="skills">Nossa formação concentra-se em valorizar o estudo ou trabalho pedagógico. Paratanto, admitimos o conhecimento como condição mediadora. Isto implica que para além da interação entre os sujeitos pedagógicos e a socialização dos conteúdos pelo educador, é de suma importância o fortalecimento dos conteúdos e uso de práticas para dentro e fora da sala de aula.<br><br>
                        É nessa perspectiva que a empresa SISTEMA EDUCACIONAL CLIC ESTUDE compreende que as formações são pensadas de modo a possibilitar um melhor desempenho metodológico dos professores em sala de aula, pois esses profissionais precisam repensar diariamente suas práticas pedagógicas de maneira a atender as necessidades dos alunos em suas diversidades, a fim de saber como se pode melhorar o processo educativo, pois acreditamos que a formação inicial do docente, por si só não basta. O professor deve está sempre receptivo às novas mudanças, pois o processo educativo requer isso do educador.<br><br>
                        Neste sentido, a formação proposta será planejada de maneira à atender as necessidades dos professores da rede municipal de Cajueiro e ajudá-los a repensar suas estratégias em sala de aula frente às dificuldades no processo educativo, em busca de uma prática reflexiva e inovadora que possibilite melhor desempenho.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>